<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="Tugas Chapter 8" />
    <meta property="og:description" content="Tugas mengambil data dari API yang telah disediakan dan menampilkannya pada 2 halaman website menggunakan flask sebagai serversidenya" />
    <meta property="og:image" content="{{ url_for('static', filename = 'logo.png') }}" />
    <link rel="icon" href="static/logo.png" type="image/png">
    <title>Jobs Page</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/style.css">
    <script src="static/script.js"></script>

</head>
<body>
    <div class="container">
        <h1 class="mt-5">Jobs</h1>
        <table class="table table-striped mt-3">
            <thead>
                <tr>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Job</th>
                    <th scope="col">Pay</th>
                </tr>
            </thead>
            <tbody>
                {% for person in people %}
                <tr>
                    <td>{{ person['fname'] }}</td>
                    <td>{{ person['lname'] }}</td>
                    <td>{{ person['job'] }}</td>
                    <td>{{ person['pay'] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <button class="btn btn-primary mt-3" onclick="toHomePage()">Go to Home Page</button>
    </div>
</body>
</html>
